// =============================================================================
// GRID (CSS)
// =============================================================================


.container {
    margin-left: auto;
    margin-right: auto;
    max-width: layout("max") + ($container-padding * 4);
    padding: 0 $container-padding;
    position: relative;
    width: layout("fixed");

    @include breakpoint("large") {
        padding: 0 ($container-padding * 4);
        .navPages-container ul.navPages-list { min-height: 100px; line-height: 70px;}
    }
}

body, html {  height: auto; float: left; width: 100%;}
body.hasAdminBar .header { padding-top: 0;}
.header { float: left;  width: 100%;}
.header-logo { margin: 0;   padding: 0; float: left; width: 20%;}
.navPages-container { width: 40%; float: left;}
nav.navUser { float: right; width: 40%; padding: 0;}
.navUser-section { position: relative; min-height: 100%; line-height: 60px;}
#menu li.navPages-item.navPages-item-page { display: none;}
li.navPages-item.navPages-item-page a.navPages-action[href="http://manatten.mybigcommerce.com/blog/"] { display: none;}
.navPages-container ul.navPages-list { min-height: 100px; line-height: 70px;}
.navPages-action { font-size: 14px; }
.navUser-action { font-size: 14px;}
.on_account { display:  none; }
.navUser-item img { width: 15px; vertical-align: sub;  display: inline-block; margin-right: 5px;}
.img_wrap { position: relative;}
.imgText1 { position: absolute; bottom: 106px; color: #333; background: #fff; padding: 5px 14px; right: 54px; font-size: 11px; font-weight: 600;}
.imgText2 { position: absolute; bottom: 0;  color: #000; top: -33%;  right: 0; left: -34px; border: 1px solid #000; width: 22%; height: 30px; line-height: 30px; margin: auto; font-size: 11px; text-transform: uppercase;}
.imgText3 { position: absolute; color: #000; right: 111px; top: 191px; border: 1px solid #000; font-size: 12px; padding: 4px 8px; font-weight: 400;}
.imgText4 { position: absolute; bottom: 167px; color: #000; right: 56px; background: #fff; font-size: 12px; padding: 5px 9px; font-weight: 600;}
.img_wrap a { color: #000; text-decoration: none;}
.heroCarousel-content.heroCarousel-content--empty { margin-top: 121px;}
span.heroCarousel-action.button.button--primary.button--large { background: #fff; border: #fff; color: #555; border-radius: 0;
    text-transform: uppercase; font-size: 15px; font-weight: 600; letter-spacing: 2px;}
section.heroCarousel.slick-initialized.slick-slider.slick-dotted { float: left; width: 100%;}

div#quickSearch { padding: 0;}
div#quickSearch .container {
    padding: 0;
    margin: 0;
}

.banners { float: left;  width: 100%; background: none;}
.left_div { float: right; width: 46%;}
.right_div { float: left;  width: 47.7%;}
.bottomProduct {float: left;  width: 100%;}
.left_div1 { float: left; width: 50%;}
.right_div1 { float: right; width: 50%; margin-top: -175px;}



.footer { background-color: #eeeeee;  padding: 3rem 0 10px;  float: left;  width: 100%;}
article.footer-info-col {  width: 21%;}
article.footer-info-col[data-section-type="newsletterSubscription"] { width: 35%;}
.footer-info-list a {  color: #000 !important; text-decoration: none; text-transform: uppercase;}
article.footer-info-col[data-section-type="newsletterSubscription"] h5.footer-info-heading { text-transform: uppercase; font-weight: 600;}

.social_icon li {  display: inline-block; margin: 0 21px 0 0;}
.social_icon ul { margin: 0; margin-top: 20px;}
.social_icon li a { text-decoration: none;}
article.footer-info-col[data-section-type="newsletterSubscription"] .form-field { margin-bottom: 0;}

p.powered-by {  text-align: center;}
